@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;800;900&family=Raleway:wght@900&family=Roboto:wght@500&display=swap');
.primary__btn {
    padding: 16px 56px;
    border-radius: 40px;
    /*border: 1px solid rgba(255, 255, 255, 0.00);*/
    background: #FCC91E;
    box-shadow: 0px 0px 18px 0px #E83A99, 0px 0px 18px 5px #E83A99 inset;
    color: #0D3C6E !important;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; /* 150% */
    letter-spacing: 7.2px;
    transition: all .4s;
}
    .primary__btn:hover {
        background: #FFDD32;
        box-shadow: 0px 0px 18px 0px #E83A99, 0px 0px 18px 5px #E83A99 inset;
    }

.secondary__btn {
    padding: 16px 56px;
    border-radius: 40px;
    box-sizing:border-box;
    border: 5px solid var(--cta, #FCC91E);
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 18px 0px #E83A99, 0px 0px 18px 5px #E83A99 inset;
    color: #FF8000 !important;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; /* 150% */
    letter-spacing: 7.2px;
    transition: all .4s;
}
    .secondary__btn:hover {
        background: #FCC91E;
        box-shadow: 0px 0px 18px 0px #E83A99, 0px 0px 18px 5px #E83A99 inset;
        color: #FFFCFC !important;
    }

@media(max-width:379px) {
    .primary__btn {
        font-size:15px;
    }
    .secondary__btn {
        font-size:15px;
    }
}