<section class="inner-hero bg_img" data-background="/assets/images/bg/inner-hero.jpg">
    <div class="shape position-absolute"><img src="~/assets/images/elements/inner-hero/shape.png" alt="image"></div>

    <div class="el-1 position-absolute"><img src="~/assets/images/elements/inner-hero/el-1.png" alt="image"></div>
    <div class="el-2 position-absolute"><img src="~/assets/images/elements/inner-hero/el-2.png" alt="image"></div>
    <div class="el-3 position-absolute"><img src="~/assets/images/elements/inner-hero/el-3.png" alt="image"></div>
    <div class="el-4 position-absolute"><img src="~/assets/images/elements/inner-hero/el-4.png" alt="image"></div>
    <div class="el-5 position-absolute"><img src="~/assets/images/elements/inner-hero/el-5.png" alt="image"></div>
    <div class="el-6 position-absolute"><img src="~/assets/images/elements/inner-hero/el-6.png" alt="image"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-title">Contact</h2>
            </div>
        </div>
    </div>
</section>
<!-- inner-hero end -->
<!-- contact section start -->
<section class="pt-120 pb-120 position-relative overflow-hidden">
    <div class="contact-left-el"><img src="~/assets/images/elements/contact-left-el.png" alt="image"></div>
    <div class="contact-right-el"><img src="~/assets/images/elements/contact-right-el.png" alt="image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header text-center has--bg">
                    <div class="header-image"><img src="~/assets/images/elements/header-el.png" alt="image"></div>
                    <h2 class="section-title" style="text-align:center;">Get in Touch</h2>
                    <p>If you have a question or general enquiry, we’re here to help. Complete the form below and we will get back to you as soon as we can.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-form-wrapper">
                    <form class="contact-form" id="contact_form_submit">
                        <div class="form-group">
                            <label>Your Full Name</label>
                            <input type="text" name="name" id="name" placeholder="Enter Your Full Name" class="form-control style--two">
                        </div>
                        <div class="form-group">
                            <label>Your Email</label>
                            <input type="text" name="email" id="email" placeholder="Enter Your Email" class="form-control style--two">
                        </div>
                        <div class="form-group">
                            <label>Mesaage</label>
                            <textarea class="form-control style--two" placeholder="Enter Your Message" id="message" name="message"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">I agree to receive emails, newsletters and promotional messages</label>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="submit-btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 mt-lg-0 mt-5">
                <div class="contact-content-wrapper">
                    <h3>Have questions?</h3>
                    <p>Have questions about payments or price plans? We have answers!</p>
                    <div class="row mt-50 mb-none-30">
                        <div class="col-lg-12 mb-30">
                            <div class="contact-item">
                                <div class="contact-item__icon">
                                    <i class="las la-envelope"></i>
                                </div>
                                <div class="contact-item__content">
                                    <h3 class="title">Email Us</h3>
                                    <a href="https://pixner.net/cdn-cgi/l/email-protection#4224232a23262627343102252f232b2e6c212d2f"><span class="__cf_email__" data-cfemail="771e1911183738271f121b165914181a">[email&#160;protected]</span></a>
                                </div>
                            </div><!-- contact-item end -->
                        </div>
                        <div class="col-lg-12 mb-30">
                            <div class="contact-item">
                                <div class="contact-item__icon">
                                    <i class="las la-phone"></i>
                                </div>
                                <div class="contact-item__content">
                                    <h3 class="title">Call Us</h3>
                                    <p><a href="tel:65455">+1 (987) 664-32-11</a></p>
                                    <p><a href="tel:65455">+1 (987) 664-32-11</a></p>
                                </div>
                            </div><!-- contact-item end -->
                        </div>
                        <div class="col-lg-12 mb-30">
                            <div class="contact-item">
                                <div class="contact-item__icon">
                                    <i class="las la-map-marker-alt"></i>
                                </div>
                                <div class="contact-item__content">
                                    <h3 class="title">Visit Us</h3>
                                    <p>4293 Euclid Avenue, Los Angeles,CA 90012</p>
                                </div>
                            </div><!-- contact-item end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact section end -->
<!-- faq section start -->
<section class="pt-120 pb-120 position-relative">
    <div class="bg-el">
        <img src="~/assets/images/bg/faq-bg.jpg" alt="image">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header text-center has--bg">
                    <div class="header-image"><img src="~/assets/images/elements/header-el.png" alt="image"></div>
                    <h2 class="section-title" style="text-align:center;">FAQ</h2>
                    <p>If you have a question or general enquiry, we’re here to help. Complete the form below and we will get back to you as soon as we can.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="faq-wrapper">
                    <div class="section-header text-center">
                        <span class="section-sub-title">GOT A QUESTION?</span>
                        <h2 class="section-title" style="text-align:center;">We've got answers.</h2>
                    </div><!-- section header -->
                    <div class="accordion cmn-accordion" id="faqAcc-one">
                        <div class="card">
                            <div class="card-header" id="h-1">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    <img src="~/assets/images/icon/question-icon.png" alt="image" class="mr-3"> How can I register?
                                </button>
                            </div>
                            <div id="collapse1" class="collapse show" aria-labelledby="h-1" data-parent="#faqAcc-one">
                                <div class="card-body">
                                    <p>The frequency of our updates depends on the creators of a given game. Some games are updated very often.</p>
                                </div>
                            </div>
                        </div><!-- card end -->
                        <div class="card">
                            <div class="card-header" id="h-2">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    <img src="~/assets/images/icon/question-icon.png" alt="image" class="mr-3"> What gaming platforms do we offer?
                                </button>
                            </div>
                            <div id="collapse2" class="collapse" aria-labelledby="h-2" data-parent="#faqAcc-one">
                                <div class="card-body">
                                    <p>The frequency of our updates depends on the creators of a given game. Some games are updated very often.</p>
                                </div>
                            </div>
                        </div><!-- card end -->
                        <div class="card">
                            <div class="card-header" id="h-3">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    <img src="~/assets/images/icon/question-icon.png" alt="image" class="mr-3"> What are the minimum requirements for Ophela?
                                </button>
                            </div>
                            <div id="collapse3" class="collapse" aria-labelledby="h-3" data-parent="#faqAcc-one">
                                <div class="card-body">
                                    <p>The frequency of our updates depends on the creators of a given game. Some games are updated very often.</p>
                                </div>
                            </div>
                        </div><!-- card end -->
                        <div class="card">
                            <div class="card-header" id="h-4">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    <img src="~/assets/images/icon/question-icon.png" alt="image" class="mr-3"> What is Ophela Affiliate program?
                                </button>
                            </div>
                            <div id="collapse4" class="collapse" aria-labelledby="h-4" data-parent="#faqAcc-one">
                                <div class="card-body">
                                    <p>The frequency of our updates depends on the creators of a given game. Some games are updated very often.</p>
                                </div>
                            </div>
                        </div><!-- card end -->
                        <div class="card">
                            <div class="card-header" id="h-5">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    <img src="~/assets/images/icon/question-icon.png" alt="image" class="mr-3"> And what about games updates?
                                </button>
                            </div>
                            <div id="collapse5" class="collapse" aria-labelledby="h-5" data-parent="#faqAcc-one">
                                <div class="card-body">
                                    <p>The frequency of our updates depends on the creators of a given game. Some games are updated very often.</p>
                                </div>
                            </div>
                        </div><!-- card end -->
                        <div class="card">
                            <div class="card-header" id="h-6">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    <img src="~/assets/images/icon/question-icon.png" alt="image" class="mr-3"> What games are available at Ophela?
                                </button>
                            </div>
                            <div id="collapse6" class="collapse" aria-labelledby="h-6" data-parent="#faqAcc-one">
                                <div class="card-body">
                                    <p>The frequency of our updates depends on the creators of a given game. Some games are updated very often.</p>
                                </div>
                            </div>
                        </div><!-- card end -->
                        <div class="card">
                            <div class="card-header" id="h-7">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                    <img src="~/assets/images/icon/question-icon.png" alt="image" class="mr-3"> How to change the language in a game ?
                                </button>
                            </div>
                            <div id="collapse7" class="collapse" aria-labelledby="h-7" data-parent="#faqAcc-one">
                                <div class="card-body">
                                    <p>The frequency of our updates depends on the creators of a given game. Some games are updated very often.</p>
                                </div>
                            </div>
                        </div><!-- card end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faq section end -->
