@using CSharks.DAL.Entities;
@model List<QuestionVM>



<div class="container" style="margin-top:250px;">
    <h2 class="text-anim">@ViewBag.QuizType</h2>
    <button class="btn btn-success" id="load">Show</button>
    @foreach (var item in Model)
    {
        <h3 style="text-align:center;" class="mt-3">@item.Text</h3>
        <div class="container justify-content-center">
            <div class="row flex-lg-row align-items-center" id="add">
                @*@foreach (var item1 in item.Answers)
                {
                    <div class="col-lg-6 mt-3">
                        <button class="submit-btn w-100" id="btn" onclick="@(item1.IsCorrect ? "Swal.fire('Good job!',  'You clicked the button!', 'success')" : "Swal.fire('Oops!!', 'You clicked the button!', 'error')")">
                            @item1.Text
                        </button>
                    </div>
                }*@
            </div>
        </div>
    }
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="~/assets/js/quiz.js"></script>
@*                            document.getElementById("add").innerHTML += "<div class='col-lg-6 mt-3'> <button class='submit-btn w-100' id='btn' onclick= 'data[i].answers[j].isCorrect ? 'Swal.fire('Good job!',  'You clicked the button!', 'success')' : 'Swal.fire('Oops!!', 'You clicked the button!', 'error')''>" + data[i].answers[j].text + "</button></div>"
*@