@model List<QuizTypeVM>

<div class="container" style="margin-top:300px;">
    <h2 style="text-align:center;" class="text-anim">Select Quiz Type</h2>
    @foreach (var item in Model)
    {
        <a asp-action="GetQuestions" asp-route-quizTypeId="@item.Id" class="submit-btn">@item.Title</a>
       }
</div>